/* ===== MAIN LAYOUT ===== */

.admin-container{
  display:flex;
  width:100%;
  min-height:100vh;
  align-items:flex-start;
}


/* ===== SIDEBAR ===== */

.admin-sidebar{
  position:fixed;
  top:0;
  left:0;
  width:150px;
  height:100vh;
  z-index:1000;
}


/* ===== MAIN CONTENT ===== */

.admin-main{
  flex:1;
  margin-left:150px;
  min-height:100vh;
  overflow-y:auto;
}